custom-recipes/recipes/*/src
custom-recipes/conda-bld
custom-recipes/.pkg-cache
site/

# Local Netlify folder
.netlify
*~

environments/*/julia-exfel-sysimage.so
applications/hhg-studio/hhg-studio.sif
